
@media (max-width: 450px) {

    body {

        background-color: #4eb2ff91;            
        text-align: center;
        margin: auto;        
    
    }
    
    
    header {
        
        
        
    }


    nav ul li{

        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 5px;
        padding: 2px;
        

        border: solid;
        border-radius: 0px 15px 0px 15px;

    } 

    footer ul li {

        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 5px;
        padding: 5px;

        border: solid;
        border-radius: 0px 15px 0px 15px;

    }
        
    
    
    
    
    a {
    
        text-decoration: none;
        color: black;
    }
    
    a:hover {
    
        text-decoration: underline;
        color: red;
    }
    
    ul li {
    
        list-style: none;
        display: inline-flex;
        
    }

    section {

        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        
    
       

    }

    .conteudo {

        
        width: 120px; 
        height: 120px;
        border: solid;
        margin: 13px;
       font-size: 6px; 
        

    }


    #conteudo1 {

        background-color: seagreen;
    }

    #conteudo2 {

        background-color: sienna;
    }

    #conteudo3 {

        background-color: rgb(214, 15, 8);
    }

    #conteudo4 {

        background-color: rgb(145, 7, 110);
    }

    
}









