* {
    margin: 0px;
    padding: 0px;
}


@media (max-width: 1500px) {

    body {

        background-color: white;            
        text-align: center; 
        justify-content: center;   
        
                
    
    }
    
    
    header, section, footer, nav {
        
        background-color: #E6CB03;
        margin: 0px 25px 0px 25px;
        
        
        
        
    }


    nav ul li {

        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;                
        margin: 10px 5px 0px 5px;
        padding: 10px 0px 5px 0px ;
        border: solid;
        border-radius: 0px 15px 0px 15px;
        box-shadow: 1px 1px 3px #26118C;

    } 

    nav ul li a {

        color: black;
        
        
    }


    section{

        justify-content: center;
        display: flex;
        flex-flow: row wrap;

    }

    .conteudo {

        background-color: #7052FF;
        width: 120px; 
        height: 120px;
        border: solid;
        margin: 13px;
        font-size: 6px; 

    }

    


    div.page {
        
        background-color: #7052FF;
        margin: 0px 0px 0px 5px;        
        display: inline;
        padding: 5px;
        border: solid 2px;
        
        
    }    

       

    footer ul li a {

        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 10px 5px 10px 5px;
        padding: 10px 0px 5px 0px ;
        border: solid;
        border-radius: 0px 15px 0px 15px;

    }    
    
    
    a {
    
        text-decoration: none;
        color: black;
    }
    
    a:hover {
    
        text-shadow: 1px -3px 5px #4D30D9;
    }
    
    ul li {
    
        list-style: none;
        display: inline-flex;
        
    }

    

    


    
    
}









