<form action="index.php?class=Cadastro_de_novos_clientes" method="post">

    <div class=form>

    </div>

    <div class=form>

    </div>

    <div class=form> </div> <label>Nome</label> <input name="nome" type="text"> </div>

    <div class=form> </div> <label>email</label> <input name="email" type="text"> </div>

    <div class=form> </div> <label>Senha</label> <input name="senha" type="password"> </div>

    <div class=form> </div> <label>DDD</label> <input name="ddd_telefone" placeholder="somente números" type="number"> </div>

    <div class=form> </div> <label>Tefelone</label> <input name="telefone" placeholder="somente números" type="number"> </div>

    <div class=form> </div> <label>Cidade</label> <input name="cidade" type="text"> </div>

    <div class=form> </div> <label>Estado</label> <input name="estado" type="text"> </div>

    <div class=form> </div> <label>Bairro</label> <input name="bairro" type="text"> </div>

    <div class=form> </div> <label>Rua</label> <input name="rua" type="text"> </div>

    <div class=form> </div> <label>Número</label> <input name="numero"  type="number"> </div>

    <div class=form> </div> <label>Complemento</label> <input name="complemento" type="text"> </div>

    <div class=form> </div> <label>CEP</label> <input name="cep" placeholder="somente números" type="number"> </div>  

    <button type="submit">casdrastrar</button> 
    

</form>