<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <link rel="stylesheet" href="Application/Templates/css/style.css">  

        <title>Home</title>
    </head>

    <body>

        <header>


            <nav>
              
              <ul>
                  <li class="nav-esquerda"> 
                      <a href="">Home</a>
                  </li>

                  <li class="nav-esquerda">
                      <a href="">Produtos</a>
                  </li>

                  <li class="nav-esquerda">
                      <a href="">Contato</a>
                  </li>

                  <li class="nav-direita">
                      <a href="">Entrar</a>
                  </li>

                  <li class="nav-direita">
                    <a href="">Cadastre-se</a>
                </li>

              </ul>
          </nav>      
                               

        </header>

        
        <section>

          <div class="conteudo" id="conteudo1">
            {{Conteudo1}}
          </div>

          <br>

          <div class="conteudo" id="conteudo2">
            {{Conteudo2}}
          </div>

          <br>
          
          <div class="conteudo" id="conteudo3">
            {{Conteudo3}}
          </div>

          <br>
          
          <div class="conteudo" id="conteudo4">
            {{Conteudo4}}
          </div>
                        
        </section>

        <footer>
            <ul>
                <li>
                    <a href="">Facebook</a>
                </li>

                <li>
                    <a href="">Instagram</a>
                </li>

            </ul>
        </footer>
        
    </body>
    
</html>