<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <link rel="stylesheet" href="Application/Templates/css/style.css">  

        <title>Home</title>
    </head>

    <body>

        <header>


            <nav>
              
              <ul>
                    <li class="navbar"> 
                        <a href="index.php?{authentication}">Home</a>
                    </li>

                    <li class="navbar">
                        <a href="index.php?{authentication}&class=Produto">Produtos</a>
                    </li>

                    <li class="navbar">
                        <a href="index.php?{authentication}&class=Contato">Contato</a>
                    </li>

                    <li class="navbar">
                        <a href="index.php?{authentication}&class=Login">{entrar}</a>
                    </li>

                    <li class="navbar">
                        <a href="index.php?{authentication}&class=Cadastrar_se">{Cadastre-se}</a>
                    </li>

                </ul>
                
          </nav>      
                               

        </header>

        
        <section>

          {{section}}
                        
        </section>   
        
        {{pagination}}   

        <footer>
            <ul>
                <li>
                    <a href="">Facebook</a>
                </li>

                <li>
                    <a href="">Instagram</a>
                </li>

            </ul>
        </footer>
        
    </body>
    
</html>