<form class="local_de_entrega" action="index.php?{authentication}&class=Local_de_entrega&method=cadastrar_local_de_Entrega" method="post" name="address">

    <p>Cadastre o local onde será entregue os produtos</p>

    <label>País:</label> <input type="text" name="country">

    <label>Rua:</label>  <input type="text" name="street">

    <label>Número da rua:</label>  <input type="number" name="street_number">

    <label>Estado:</label>  <input type="text" name="state">

    <label>Cidade:</label>  <input type="text" name="city">

    <label>Bairro:</label>  <input type="text" name="neighborhood">

    <label>CEP:</label>  <input type="number" name="zipcode">

    <button type="submit">Cadastrar</button>

</form>